<div class="login-form" role="main">

	<i class="icon-boxfish text-center" id="login-logo"></i>
  <p style="text-align: center;">Forgot your password? Request a reset.</p>

  <form>
    <button class="btn btn-success" style="margin:auto; display: block;" >
      You will receive an email shortly.
    </button>

    <div class="padding-1em">
      <a href="/login">Return to Login</a>
    </div>
  </form>

</div>