<div class="login-form" role="main">

	<i class="icon-boxfish text-center" id="login-logo"></i>
  <p style="text-align: center;">Forgot your password? Request a reset.</p>

	<a href="/login">&#8592; Back to Login</a>

  <form method="post" action="/request_password_reset" class="form">

    <input type="hidden" name="target" value="<%= typeof target !== 'undefined' ? target : '' %>"/>

    <div class="auth-inputs">

      <div class="input-group">
        <label>Email Address</label>
        <input type="email" name="email" placeholder="Email Address..." required>
      </div>

    </div>

    <input type="submit" value="Request New Password">

  </form>
</div>
