<div class="login-form" role="main">

<i class="icon-boxfish text-center" id="login-logo"></i>
  <p style="text-align: center;">Select your new password.</p>

  <form method="post" action="/resetPassword" class="form">

    <%if ( typeof message !== 'undefined' ) {%>
      <div class="alert alert-danger" role="alert"> <i class="icon-warning"></i> <%= message %></div>
    <%}%>

    <input type="hidden" name="email" value="<%= email %>"/>
    <input type="hidden" name="token" value="<%= token %>"/>

    <div class="auth-inputs">

      <div class="input-group">
        <label class="sr-only" for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="New Password"/>
      </div>

      <div class="input-group" style="padding-top: 1em">
        <label class="sr-only" for="confirm-password">Confirm password</label>
        <input type="password" class="form-control" name="confirm-password" placeholder="Confirm Password"/>
      </div>

    </div>

    <input type="submit" value="Confirm">

  </form>

</div>
